#main{
    background-image: url(https://images.unsplash.com/photo-1595560013331-de1596c72a3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

#main .display-1{
    font-family: 'Roboto Flex', sans-serif;
    color : #cc8b90;
}

.row a{
    text-decoration: none;
    color: inherit;
}

.postCard{
    transition : box-shadow .2s linear;
}

.postCard:hover{
    box-shadow : 2px 2px 10px #313131;
}