{% include 'Base.html' %}

{% block title %}
<title>Admin Page</title>
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <form style="width:60%; margin: auto;" class="text-white" method="POST" action="/admin">
        <div class="mb-3">
            <label for="tag" class="form-label">Enter tag</label>
            <input type="text" class="form-control" name="tag" id="tag" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-floating text-dark">
            <textarea class="form-control" placeholder="Write the content here" name="content" id="content" style="height: 400px;"></textarea>
            <label for="content">Write your content here</label>
        </div>
        <button type="submit" class="btn btn-primary my-3">Add Post</button>
    </form>
</div>
{% endblock body %}