{% include 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block body %}
<div class="container mt-5" style="width:80%;">
    <div class="row">
        {% for post in Allpost %}
        <div class="col-sm-12 col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative bg-success">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-warning">{{ post.tag }}</strong>
                    <h3 class="mb-0 text-white">{{ post.title }}</h3>
                    <div class="mb-1">{{ post.time.strftime("%Y-%m-%d") }}</div>
                    <p class="mb-auto text-white">{{ post.content[:50] }}
                    </p>
                    <a href="/post/{{ post.id }}" class="stretched-link">Continue reading</a>
                </div>
                <!-- <div class="col-auto d-none d-lg-block">          
                </div> -->
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock body %}