{% include 'Base.html' %}

{% block title %}
    <title>{{ post.title }} | {{ post.tag }}</title>
{% endblock title %}

{% block body %}
    <div class="container text-white my-5 mx-a border shadow" style="width:50%;">
        <div class="row justify-content-md-center">
            <div class="col-12 text-center p-3 text-success">
                <h1 style="font-family: 'DM Serif Display', serif; font-size: 72px;">{{ post.title }}</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 d-flex justify-content-between px-5 text-warning">
                <span>{{ post.tag }}</span>
                <span>Date - {{ post.time.strftime("%Y-%m-%d") }}</span>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <hr class="hr text-white bg-white"></hr>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
{% endblock body %}