:root{
    --size : 80px;
}
.round-box{
    border-radius: 0px calc(var(--size)/2) 0 calc(var(--size)/2);
    background : #555;
}

.w-half{
    width : var(--size);
    height : var(--size);

}

.w-full{
    width : var(--size);
    height : calc(2*var(--size) + 10px);
}

.first{grid-area:first}
.second{grid-area:second}
.third{grid-area:third}
.fourth{grid-area:fourth}
.fifth{grid-area:fifth}

.custom-grid{
    display : grid;
    grid-template-areas: 'first second' 'third fourth' 'third fifth';
    gap : calc(var(--size) / 10);
}

.two-grid{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap : calc(var(--size) / 10);
}

.reverse{
    transform: scaleX(-1);
}

.rev-y{
    transform : scaleY(-1);
}

.blog-card{
    cursor : pointer;
}

.blog-card:hover{
    transform: scale(1.05);
    transition : transform 0.5s;
    box-shadow: 2px 2px 4px #999;
}