nav{
    position : fixed;
    top : 0;
    background : #dfb5b850;
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-shadow: 0px -2px 10px #000;
    width : 100%;
}

nav a{
    text-decoration: none;
    color : inherit;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 5px;
}

nav ul li{
    padding : 0 10px;
}